body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
}
h1{
    text-align: center;
}
ul.menu{
    list-style-type: none;
    padding: 0;
    
}
ul.menu li {
    float: left;
}
ul.menu li a{
    display: block;
    color: white;
    background-color: purple;
    text-align: center;
    padding: 14px 0;
    width: 10em;
    border-left: 1px solid white;
}
ul.menu li a:hover{
    background-color: #333;
}
ul.menu li :last-child a{
    border-right: none;
}
